#header {
	background: #333;
	height: 70px;
	color: navajowhite;
}

#header h1 {
	line-height: 70px;
	margin: 0px;
}

#header h3 {
    color: #333;

}

#row2 {
	padding-top: 5%;
}

#randomSchool {
	letter-spacing: 4px;
	font-size: x-large;
	margin-top: 5%;
}

#guessed {
	padding-top: 15px;
	font-size: large;
	letter-spacing: 5px;
}

#remainingGuesses {
	font-size: large;
}

#footer {
	background: #333;
	height: 60px;
	color: navajowhite;
}

#footer p {
	line-height: 60px;
	margin: 0px;
}

#confLogo {
    padding-bottom: 20px;
}